@{
    ViewData["Title"] = "Home Page";
}

<button type="button" class="btn btn-default" id="RunScript">Run</button>
<div id="container" style="width:100%;height:500px;border:1px solid #ccc"></div>
<div id="runContainer"></div>
@section Scripts {

<script src="~/lib/monaco-editor/min/vs/loader.js"></script>
<script>
    require.config({ paths: { 'vs': '/lib/monaco-editor/min/vs' } });
    var editor;
    require(['vs/editor/editor.main'], function (sbLanguage, transpiler) {

        function createDependencyProposals() {
            //函数提示
            return [
                {
                    label: 'web_url',
                    kind: monaco.languages.CompletionItemKind.Function,
                    documentation: "请求网页",
                    insertText: [
                        'web_url("new step",',
                        '\t"URL=网页路径",',
                        '\t"RecContentType=text/html",',
                        '\t"Referer=",',
                        '\t"Mode=URL",',
                        '\tLAST);'
                    ].join("\r\n")
                },
                {
                    label: 'web_reg_find',
                    kind: monaco.languages.CompletionItemKind.Function,
                    documentation: "检查文本",
                    insertText: 'web_reg_find("Fail=NotFound", "Search=All", "Text=检查文本");'
                },
                {
                    label: '"lr_pppp"',
                    kind: monaco.languages.CompletionItemKind.Function,
                    documentation: "Recursively mkdir, like <code>mkdir -p</code>",
                    insertText: '"mkdirp": "*"'
                }
            ];
        }
        monaco.languages.typescript.javascriptDefaults.setCompilerOptions({ noLib: true, allowNonTsExtensions: true });
        monaco.languages.typescript.typescriptDefaults.setCompilerOptions({ noLib: true });
        monaco.languages.registerCompletionItemProvider('javascript', {
            provideCompletionItems: function (model, position) {

                return createDependencyProposals();

            }
        });

        var code = [
            'web_reg_find("Fail=NotFound", "Search=All", "Text=testerhome");',
            'web_reg_find("Fail=NotFound", "Search=All", "Text=心向东");',
            '',
            'web_url("sign_in",',
                '\t"URL=Http://testerhome.com/account/sign_in",',
                '\t"Resource=0",',
                '\t"RecContentType=text/html",',
                '\t"Referer=https://testerhome.com/",',
                '\t"Snapshot=t3.inf",',
                '\t"Mode=HTML",',
                '\tEXTRARES,',
                '\t"Url=https://www.google-analytics.com/collect?v=1&_v=j60&a=450370903&t=pageview&_s=2&dl=https%3A%2F%2Ftesterhome.com%2F&ul=zh-cn&de=utf-8&dt=%E7%99%BB%E5%BD%95%20%C2%B7%20TesterHome&sd=24-bit&sr=1280x800&vp=792x544&je=1&fl=20.0%20r0&_u=KGBAgEQ~&jid=&gjid=&cid=364379208.1504577662&tid=UA-45014075-1&_gid=1432109762.1504577662&z=667031373", ENDITEM,',
                '\tLAST);'
        ];

        editor = monaco.editor.create(document.getElementById("container"), {
            value: code.join('\n'),

            language: "javascript"
        });

       
    });


    var runContainer = document.getElementById('runContainer');
    var runIframe = null;
    $('#RunScript').click(function () {
        if (runIframe) {
            // Unload old iframe
            runContainer.removeChild(runIframe);
        }
        // Load new iframe
        runIframe = document.createElement('iframe');
        runIframe.id = 'runner';
        runIframe.src = 'playground/LR-runner.html?v1';
        runIframe.className = 'run-iframe';
        runIframe.style.boxSizing = 'border-box';
        runIframe.style.height = '500px';
        runIframe.style.width = '100%';
        runIframe.style.border = '1px solid lightgrey';
        runIframe.frameborder = '0';
        runContainer.appendChild(runIframe);

     

        runIframe.addEventListener('load', function (e) {
            runIframe.contentWindow.load(editor.getModel().getValue(), '', "");
        });
    });

</script>

}
